<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block css %} {% endblock css %}
    {% block js %}{% endblock %}
</head>
<body>

{% if user.is_authenticated %}
    {% include 'header.html'%}
{% endif %}
{% block content %}

{% endblock %}

</body>
</html>