{% extends 'base.html' %}
{% load bootstrap3 %}
{% block css %}
    <style type="text/css">
        table {
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#id_paid_date__lt").attr('type', 'date');
            $("#id_paid_date__gt").attr('type', 'date');
            var isSuperuser = "{% if user.is_superuser %} 1 {% else %}0{% endif %}";
            if (isSuperuser == "0") {
                {#                var userName = "{{ user.username.title }}"#}
                {#                $('select#id_user').find('option').each(function () {#}
                {#                    console.log($(this).val());#}
                {#                    if($(this).val() != userName) {#}
                {#                        $(this).hide();#}
                {#                    }#}
                {#                });#}
                $('select#id_user').hide()
            }
            console.log(isSuperuser);
        });
    </script>
{% endblock %}
{% block content %}
    <form action="" method="get" class="form form-inline" style="padding: 20px">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Bill id</th>
            <th scope="col">Paid To/By</th>
            <th scope="col">Amount (Rs)</th>
            <th scope="col">Date</th>
            <th scope="col">Transaction</th>
            <th scope="col">By Cash</th>
        </tr>
        </thead>
        <tbody>
        {% for bill in filter.qs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ bill.id }}</td>
                <td>{% if pay.type == 'T' or pay.type == 'S' %}<a href="#">{{ bill.pay_to }}</a> {% else %}
                    {{ bill.pay_to }} {% endif %}</td>
                <td>{{ bill.amount }}</td>
                <td>{{ bill.paid_date }}</td>
                <td> {% ifequal bill.transaction_type 'C' %} <span class="text-danger"> Credit </span> {% else %}
                    <span class="text-success">Debit </span> {% endifequal %} </td>
                <td>{% if bill.by_cheque %} No {% else %} Yes {% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            {% if expense %}
                <td style="text-align: center">
                    <b>Expense : </b> &nbsp;&nbsp; Rs. {{ expense }}
                </td>
            {% endif %}
            {% if remain %}
                <td style="text-align: center">
                    <b>Remaining :</b> &nbsp;&nbsp; Rs. {{ remain }}
                </td>
            {% endif %}
            <td colspan="3" style="text-align: center">
                <b>Total : </b> &nbsp;&nbsp;Rs. {{ total }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}