{% extends 'recieptbase.html' %}
{% block title %}Student enroll {% endblock %}
{% block student-detail %}

    <table class="table">
        <tr>
            <th>Name</th>
            <td> {{ student.name }}</td>
        </tr>
        <tr>
            <th>
                Group
            </th>
            <td>
                sample
            </td>
        </tr>
        <tr>
            <th>
               Course
            </th>
            <td> Course Name</td>
        </tr>
        <tr>
            <b>Paid Amount : </b>
        </tr>
    </table>
{% endblock %}