{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Course</th>
            <th scope="col">Group</th>
            <th scope="col">Shift</th>
            <th class="col-xs-sm">Marks</th>
            <th class="col-xs-sm">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for student in filter.qs %}
            <tr>
                <td>{{ student.person_name }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.shift }}</td>
                <td>
                    <input type="number" class="input-marks"
                           name="mark_{{ forloop.counter }}" maxlength="2"
                           value="{{ cg.marks }}" style="width: 60px">
                </td>
               <td> <button type="button">
                    <span class="glyphicon glyphicon-saved"
                          aria-hidden="true" data-id="{{ cg.id }}"></span>
                </button>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}