{% extends 'base.html' %}
{% load bootstrap3 %}
{#{% block js %}#}
{#    <script>#}
{#       $(document).on("click", "#search", function () {#}
{#           var selected_course = $( "#course option:selected" ).text();#}
{#           var selected_group =  $( "#group option:selected" ).text();#}
{#           console.log(selected_group, selected_course);#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
{% block content %}

    {#    {% include 'search.html' with course_data=course group_data=group %}#}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone number</th>
            {% if isTeacher %}
                <th scope="col">Fee submitted</th>
            {% endif %}
            <th scope="col">Course</th>
            <th scope="col">Group</th>
            <th scope="col">Shift</th>
        </tr>
        </thead>
        <tbody>
        {% for student in filter.qs %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.phone_number }}</td>
                {% if isTeacher %}
                    <td>{{ student.fee_submitted }}</td>
                {% endif %}
                <td>{{ student.course }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.shift }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}