{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('#edit_profile').click(function (e) {
                e.preventDefault();
                $(window).attr("location", "{% url 'student:update' pk=student.pk %}");
            });

            $("#add_fee").click(function (e) {
                e.preventDefault();
                var payLoad = {
                    'pay_to': '\'{{ student.name }}\'',
                    'amount': $("#amount").val(),
                    'type': 'STU',
                    'course': '\'{{ student.course.title }}\'',
                    'remarks': 'Fees from student',
                    'payto_id': '\'{{ student.id }}\''
                };
                console.log(payLoad);
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        }
                    }
                });
                $.post("{% url 'student:updatepay' %}", payLoad)
                        .done(function (data) {
                            alert("Data Loaded: " + data);
                        });
            });
        });

        function getTodayDate() {
            var tdate = new Date();
            var dd = tdate.getDate(); //yields day
            var MM = tdate.getMonth(); //yields month
            var yyyy = tdate.getFullYear(); //yields year
            var currentDate = dd + "-" + ( MM + 1) + "-" + yyyy;

            return currentDate;
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container emp-profile">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="/media/{% if student.photo %}{{ student.photo }}{% else %}bea/profile.png{% endif %}"
                             alt=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ student.name }}
                        </h5>
                        <h6>
                            Remaining Due : Rs. {{ remaining }}
                        </h6>
                        <div class="col-xs-8">
                            <input class="form-control col-md-6" type="text" id="amount" placeholder="Rs 00000">
                            <button class="btn btn-success" style="margin-top: 8px" id="add_fee"> Add Amount</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-success" id="edit_profile">Edit Profile</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <h3>About</h3>
                        <hr>
                        <p>
                            <b class="text-primary">Name :</b> {{ student.name }}<br>

                            <b class="text-primary"> Phone Number : </b> {{ student.phone_number }}<br>

                            <b class="text-primary">Course :</b> {{ student.course.title }}<br>

                            <b class="text-primary">Shift : </b> {{ student.shift.name }}<br>

                            <b class="text-primary">Group: </b> {{ student.group.name }}<br>
                            {% if not isTeacher %}
                                <b class="text-primary"> Joined Date: </b>{{ student.joined_date }}<br>
                                <b class="text-primary">Fee submitted : </b><span>Rs. {{ student.fee_submitted }}</span>
                                <br>

                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="col-md-8">
                    <table>

                    </table>
                </div>
            </div>
        </form>
    </div>
{% endblock %}